@import url(https://fonts.googleapis.com/css?family=Inter:700,800&display=swap);

@charset "UTF-8";

@font-face {
  font-family: Radiate Sans;
  font-display: swap;
  src: url("../fonts/Radiate Sans.woff2") format("woff2"), url("../fonts/Radiate Sans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RadiateSansBoldExpanded;
  font-display: swap;
  src: url("../fonts/RadiateSans-BoldExpanded.woff2") format("woff2"), url("../fonts/RadiateSans-BoldExpanded.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: RadiateSansSemiBoldSemiExpanded;
  font-display: swap;
  src: url("../fonts/RadiateSans-SemiBoldSemiExpanded.woff2") format("woff2"), url("../fonts/RadiateSans-SemiBoldSemiExpanded.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Radiate Sans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Radiate Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: rgb(34, 34, 34);
  padding: 20px;
  width: 100%;
  max-width: 750px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  width: 1.5625rem;
  height: 1.5625rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  position: relative;
}

.popup__close::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: calc(50% - 2px);
  left: -2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  bottom: 50%;
  left: -2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__content {
  text-align: center;
}

.popup__content img {
  max-width: 100%;
}

.spollers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.25rem;
}

.spollers__item {
  font-size: 1.25rem;
  border-bottom: 1px solid #fff;
}

.spollers__title {
  text-align: left;
  cursor: default;
  padding: 0 0 1.25rem 0;
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spollers__title span.spollers__label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.spollers__title span.spollers__icon {
  cursor: pointer;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
}

.spollers__title span.spollers__icon::before {
  content: "+";
  position: absolute;
  top: 12px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.25rem;
}

._spoller-init .spollers__title._spoller-active span.spollers__icon::before {
  content: "-";
}

.spollers__body {
  padding: 1.25rem 0;
}

.spollers__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.spollers__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.spollers__image img {
  text-align: center;
  max-width: 100%;
}

.spollers__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.main-block__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 28.125rem;
  grid-template-columns: 1fr 28.125rem;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.main-block__title {
  font-family: "RadiateSansBoldExpanded";
  line-height: 112%;
  text-transform: uppercase;
}

.main-block__title:not(:last-child) {
  margin-bottom: 10px;
}

.main-block__sub-title {
  font-size: 20px;
  line-height: 123%;
}

.main-block__info {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr minmax(300px, 48%);
  grid-template-columns: 1fr minmax(300px, 48%);
  gap: 1.875rem;
}

.main-block__decor-2 {
  position: absolute;
  z-index: -1;
}

.main-block__decor-3 {
  position: absolute;
}

.main-block__decor-4 {
  position: absolute;
  z-index: -1;
}

.main-block__decor-4 img {
  max-width: 100%;
}

.title {
  font-family: "RadiateSansBoldExpanded";
  line-height: 120%;
  text-transform: uppercase;
}

.response__text {
  line-height: 123%;
  position: relative;
}

.response__text::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.response__value {
  position: relative;
}

.response__decor {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.response__decor img {
  max-width: 100%;
}

.response__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.1875rem;
  padding: 0.75rem 1.375rem 0.75rem 1.5625rem;
}

.response__number {
  margin-top: -0.625rem;
  font-family: "RadiateSansBoldExpanded";
  font-size: 35px;
  line-height: 112%;
  text-transform: uppercase;
}

.list-main-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1875rem;
}

.list-main-block__item:not(:last-child) {
  margin-bottom: 12px;
}

.list-main-block__icon {
  width: 1.3125rem;
  height: 1.3125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.3125rem;
          flex: 0 0 1.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-main-block__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  line-height: 17px;
}

.try-main-block__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem 1.875rem;
}

.try-main-block__button {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  text-align: center;
  font-family: "Inter";
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  border: 3px solid #000;
  background: #0017e8;
  padding: 21px 68px 21px 68px;
  text-transform: uppercase;
}

.try-main-block__price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.try-main-block__bottom {
  display: none;
}

.price-block {
  font-family: "Inter";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-block__current-price {
  font-family: "Inter";
  border-radius: 50%;
  color: #bdff00;
  background-color: #0017e8;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 0.8333333333;
  padding: 1.375rem 1.875rem;
  position: relative;
  z-index: 2;
}

.price-block__prev-price {
  border-radius: 50%;
  background: #bdff00;
  position: relative;
  z-index: 1;
  padding: 1.5rem 1.5rem 1.5rem 1.875rem;
  color: #0038ff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25;
  margin-left: -1.75rem;
}

.price-block__prev-price:not(:last-child) {
  margin-right: 0.625rem;
}

.price-block__discont {
  color: #0038ff;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 25px;
}

.for-whom__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 30px;
}

.item-for-whom {
  max-width: 420px;
  padding: 3.125rem 1.25rem 3.125rem 2rem;
  border-radius: 32px;
  background: rgba(129, 129, 139, 0.15);
  position: relative;
}

.item-for-whom__decor {
  position: absolute;
  top: -42px;
  right: 0;
  z-index: -1;
}

.item-for-whom__heading {
  position: relative;
}

.item-for-whom__heading:not(:last-child) {
  margin-bottom: 15px;
}

.item-for-whom__title {
  font-size: 20px;
  line-height: 24.5px;
}

.item-for-whom__decor-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.item-for-whom__item {
  color: #81818b;
  line-height: 17px;
  padding-left: 1.25rem;
  position: relative;
}

.item-for-whom__item::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  top: 8.5px;
  left: 11px;
  background-color: #81818b;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.item-for-whom__text p {
  color: #81818b;
  line-height: 17px;
}

.technical__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  row-gap: 2.1875rem;
}

.technical__heading {
  position: relative;
}

.technical__decor {
  position: absolute;
  top: -70px;
  right: 0;
  z-index: -1;
}

.technical__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1.5625rem;
}

.technical__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.6875rem;
}

.technical__text p {
  line-height: 19px;
}

.emotional {
  padding-bottom: 0.9375rem;
}

.emotional__container {
  position: relative;
}

.emotional__heading {
  display: inline-block;
  position: relative;
}

.emotional__vector-1 {
  position: absolute;
  width: 477.702px;
  height: 80.994px;
  top: -15px;
  right: -50px;
  z-index: -1;
}

.emotional__vector-2 {
  display: none;
}

.emotional__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17.5rem, 24.375rem))[2];
  grid-template-columns: repeat(2, minmax(17.5rem, 24.375rem));
  gap: 0.9375rem;
}

.emotional__main-decor-1 {
  position: absolute;
  z-index: -1;
}

.emotional__main-decor-2 {
  position: absolute;
  z-index: -1;
}

.item-emotional {
  border-radius: 30px;
  background: rgba(236, 236, 238, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 1.75rem 1.5625rem 1.875rem 2rem;
}

.item-emotional__title {
  color: #0017e8;
  font-family: "RadiateSansSemiBoldSemiExpanded";
  width: 80%;
  font-size: 1.25rem;
}

.item-emotional__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-emotional__text a {
  color: #0038ff;
  text-decoration: underline;
}

.author {
  padding-top: 0.9375rem;
}

.author__content {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48% 1fr;
  grid-template-columns: 48% 1fr;
  position: relative;
  max-width: 925px;
  margin: 0 auto;
  border-radius: 20px;
  border: 0.3px solid rgba(255, 255, 255, 0.6);
  background: #000;
  padding-left: 1.125rem;
}

.author__title {
  color: #fff;
}

.author__title:not(:last-child) {
  margin-bottom: 25px;
}

.author__list {
  color: #fff;
}

.author__item {
  line-height: 143%;
  padding-left: 1.375rem;
  position: relative;
}

.author__item::before {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  top: 10px;
  left: 11px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.author__decor-image {
  position: absolute;
}

.author__decor-image img {
  max-width: 100%;
}

.qa {
  background-color: #0017e8;
}

.qa__content {
  max-width: 690px;
  margin: 0 auto;
}

.qa__heading {
  position: relative;
}

.qa__main-title {
  font-size: 2.1875rem;
  color: #fff;
  position: relative;
  z-index: 2;
}

.qa__decor {
  position: absolute;
  top: -30px;
  right: 20px;
  z-index: 1;
}

.qa__title {
  color: #fff;
  width: 100%;
  text-align: left;
  cursor: default;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.qa__spollers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  row-gap: 0.9375rem;
}

.qa__item {
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  background: #fff;
}

.qa__number {
  border-radius: 10px;
  background: #0038ff;
  font-size: 12px;
  padding: 0.375rem 0.5625rem;
  font-weight: 800;
}

.qa__question {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #191919;
  font-weight: 500;
  line-height: 1.2142857143;
}

.qa__question p {
  max-width: 445px;
}

.qa__arrow {
  color: #444;
  font-size: 16px;
  font-weight: 900;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

._spoller-active .qa__arrow {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.qa__body {
  padding-top: 0rem;
}

.qa__text {
  color: #191919;
  font-weight: 500;
  line-height: 1.2142857143;
}

@media (min-width: 47.99875em) {
  .main-block__image img {
    margin-left: -3.125rem;
  }

  .main-block__decor-4 {
    top: 382px;
  }

  .technical__title {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }

  .author__content {
    padding-bottom: 7.5rem;
  }

  .author__decor-image {
    top: 50%;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }
}

@media (min-width: 47.99875em) and (min-width: 79.375em) {
  .main-block__decor-4 {
    right: 16.875rem;
  }
}

@media (min-width: 50.0625em) {
  .emotional__vector-1 {
    top: -15px;
    right: -50px;
  }
}

@media (min-width: 59.6875em) {
  .author__decor-image {
    left: -30px;
  }
}

@media (min-width: 61.99875em) {
  .list-main-block {
    padding-left: 4.375rem;
  }
}

@media (min-width: 65.625em) {
  .main-block__image img {
    margin-top: -4.0625rem;
  }
}

@media (min-width: 79.375em) {
  .spollers__title {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .main-block__container {
    padding-top: 7.75rem;
  }

  .main-block__container {
    padding-bottom: 3.75rem;
  }

  .main-block__heading:not(:last-child) {
    margin-bottom: 5rem;
  }

  .main-block__title {
    font-size: 3.75rem;
  }

  .main-block__sub-title:not(:last-child) {
    margin-bottom: 2.375rem;
  }

  .main-block__list:not(:last-child) {
    margin-bottom: 2.9375rem;
  }

  .main-block__decor-2 {
    right: 13.125rem;
  }

  .main-block__decor-2 {
    top: -5rem;
  }

  .main-block__decor-3 {
    right: 27.5rem;
  }

  .main-block__decor-3 {
    top: 8.4375rem;
  }

  .main-block__decor-3 svg {
    width: 3.6875rem;
  }

  .main-block__decor-3 svg {
    height: 3.375rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .response__text::after {
    bottom: -2.75rem;
  }

  .for-whom {
    padding-top: 3.125rem;
  }

  .for-whom {
    padding-bottom: 2.1875rem;
  }

  .for-whom__title:not(:last-child) {
    margin-bottom: 2.625rem;
  }

  .technical {
    padding-top: 2.1875rem;
  }

  .technical {
    padding-bottom: 3.75rem;
  }

  .technical__container {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .emotional {
    padding-top: 3.75rem;
  }

  .emotional__heading:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .emotional__items {
    padding-left: 19.6875rem;
  }

  .emotional__main-decor-1 {
    left: -3.75rem;
  }

  .emotional__main-decor-1 {
    top: 8.75rem;
  }

  .emotional__main-decor-2 {
    right: -24.6875rem;
  }

  .emotional__main-decor-2 {
    bottom: -16.5625rem;
  }

  .author {
    padding-bottom: 1.6875rem;
  }

  .author__content {
    padding-top: 6.25rem;
  }

  .author__content {
    padding-right: 3.75rem;
  }

  .qa {
    padding-top: 2.8125rem;
  }

  .qa {
    padding-bottom: 4.0625rem;
  }

  .qa__heading:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .qa__title {
    padding-right: 2.1875rem;
  }

  .qa__title {
    padding-bottom: 1.875rem;
  }

  .qa__title {
    padding-top: 1.875rem;
  }

  .qa__title {
    padding-left: 1.875rem;
  }

  .qa__body {
    padding-right: 2.1875rem;
  }

  .qa__body {
    padding-bottom: 1.875rem;
  }

  .qa__body {
    padding-left: 1.875rem;
  }
}

@media (max-width: 65.625em) {
  .main-block__info {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .response__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .response__value {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .response__decor {
    max-width: 370px;
  }

  .response__block {
    max-width: 370px;
  }

  .try-main-block__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 61.99875em) {
  .spollers {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .technical__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0.9375rem;
  }
}

@media (max-width: 59.6875em) and (max-width: 29.99875em) {
  .author__decor-image {
    left: -9.375rem;
  }
}

@media (max-width: 50.0625em) {
  .emotional__vector-1 {
    top: 15px;
    left: 40px;
  }
}

@media (max-width: 47.99875em) {
  .popup__content {
    max-width: 90%;
    padding: 15px;
  }

  .spollers__title {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .spollers__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-block__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .main-block__image {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
  }

  .main-block__image img {
    width: 76.3%;
    max-width: 100%;
  }

  .main-block__decor-4 {
    width: 20rem;
    height: 20rem;
    left: 20px;
    bottom: 200px;
  }

  .technical__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .emotional__vector-1 {
    display: none;
  }

  .emotional__vector-2 {
    display: block;
    position: absolute;
    width: 345.13px;
    height: 192.77px;
    top: -50px;
    left: -10px;
    z-index: -1;
  }

  .emotional__items {
    padding-left: 0.0000000625rem;
  }

  .emotional__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: minmax(17.5rem, 34.375rem);
    grid-template-columns: minmax(17.5rem, 34.375rem);
  }

  .author__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .author__body {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .author__picture {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .author__decor-image {
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    bottom: -100px;
  }

  .qa__main-title {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }

  .qa__decor {
    top: 20px;
  }
}

@media (max-width: 47.99875em) and (max-width: 29.99875em) {
  .main-block__image {
    height: 18.75rem;
  }

  .author__content {
    padding-bottom: 14.5rem;
  }

  .author__decor-image {
    width: 22.6875rem;
  }

  .qa__decor {
    right: 1.25rem;
  }
}

@media (max-width: 34.375em) {
  .main-block__image img {
    width: 83%;
  }
}

@media (max-width: 29.99875em) {
  .main-block__container {
    padding-top: 6.0625rem;
  }

  .main-block__container {
    padding-bottom: 0.9375rem;
  }

  .main-block__heading:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .main-block__title {
    font-size: 2.125rem;
  }

  .main-block__sub-title:not(:last-child) {
    margin-bottom: 1.4375rem;
  }

  .main-block__list:not(:last-child) {
    margin-bottom: 1.6875rem;
  }

  .main-block__image img {
    width: 87%;
  }

  .main-block__decor-2 {
    right: 0.0000000625rem;
  }

  .main-block__decor-2 {
    top: -13.125rem;
  }

  .main-block__decor-3 {
    right: 12.1875rem;
  }

  .main-block__decor-3 {
    top: 3rem;
  }

  .main-block__decor-3 svg {
    width: 1.6875rem;
  }

  .main-block__decor-3 svg {
    height: 1.5rem;
  }

  .main-block__decor-4 {
    left: -10px;
    bottom: 170px;
  }

  .title {
    font-size: 2.125rem;
  }

  .response__text::after {
    bottom: -1.0625rem;
  }

  .list-main-block {
    padding-left: 0.9375rem;
  }

  .for-whom {
    padding-top: 0.9375rem;
  }

  .for-whom {
    padding-bottom: 1.875rem;
  }

  .for-whom__title:not(:last-child) {
    margin-bottom: 1.3125rem;
  }

  .technical {
    padding-top: 1.875rem;
  }

  .technical {
    padding-bottom: 2.5rem;
  }

  .technical__container {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .emotional {
    padding-top: 2.1875rem;
  }

  .emotional__heading:not(:last-child) {
    margin-bottom: 2.375rem;
  }

  .emotional__main-decor-1 {
    left: 17.875rem;
  }

  .emotional__main-decor-1 {
    top: -3.125rem;
  }

  .emotional__main-decor-2 {
    right: -18.125rem;
  }

  .emotional__main-decor-2 {
    bottom: -25rem;
  }

  .author {
    padding-bottom: 0.9375rem;
  }

  .author__content {
    padding-top: 2.8125rem;
  }

  .author__content {
    padding-right: 1.5rem;
  }

  .qa {
    padding-top: 2.1875rem;
  }

  .qa {
    padding-bottom: 2.5rem;
  }

  .qa__heading:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .qa__decor {
    right: -20px;
  }

  .qa__title {
    padding-right: 1.25rem;
  }

  .qa__title {
    padding-bottom: 0.9375rem;
  }

  .qa__title {
    padding-top: 0.9375rem;
  }

  .qa__title {
    padding-left: 1.25rem;
  }

  .qa__body {
    padding-right: 1.25rem;
  }

  .qa__body {
    padding-bottom: 0.9375rem;
  }

  .qa__body {
    padding-left: 1.25rem;
  }
}

@media (max-width: 26.25em) {
  .main-block__image img {
    width: 95%;
  }
}

@media (min-width: 47.99875em) and (max-width: 79.375em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -1.4527807657rem  +  4.9798812796vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -1.4527807657rem  +  4.9798812796vw , 2.5rem ))) {
    .spollers__title {
      -webkit-column-gap: clamp( 0.9375rem , -1.4527807657rem  +  4.9798812796vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , -1.4527807657rem  +  4.9798812796vw , 2.5rem );
              column-gap: clamp( 0.9375rem , -1.4527807657rem  +  4.9798812796vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -1.4527807657rem  +  4.9798812796vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -1.4527807657rem  +  4.9798812796vw , 2.5rem ))) {
    .spollers__title {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 47.99875rem) / 31.37625);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 47.99875rem) / 31.37625);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 47.99875rem) / 31.37625);
    }
}

@supports (padding-left: clamp( 0.0000000625rem , -30.1175374898rem  +  62.7465039241vw , 19.6875rem )) {
    .emotional__items {
      padding-left: clamp( 0.0000000625rem , -30.1175374898rem  +  62.7465039241vw , 19.6875rem );
    }
}

@supports not (padding-left: clamp( 0.0000000625rem , -30.1175374898rem  +  62.7465039241vw , 19.6875rem )) {
    .emotional__items {
      padding-left: calc(0.0000000625rem + 19.6874999375 * (100vw - 47.99875rem) / 31.37625);
    }
}
}

@media (min-width: 29.99875em) and (max-width: 79.375em) {
@supports (padding-top: clamp( 6.0625rem , 5.0372522215rem  +  3.4176349966vw , 7.75rem )) {
    .main-block__container {
      padding-top: clamp( 6.0625rem , 5.0372522215rem  +  3.4176349966vw , 7.75rem );
    }
}

@supports not (padding-top: clamp( 6.0625rem , 5.0372522215rem  +  3.4176349966vw , 7.75rem )) {
    .main-block__container {
      padding-top: calc(6.0625rem + 1.6875 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.7712462976rem  +  5.6960583276vw , 3.75rem )) {
    .main-block__container {
      padding-bottom: clamp( 0.9375rem , -0.7712462976rem  +  5.6960583276vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.7712462976rem  +  5.6960583276vw , 3.75rem )) {
    .main-block__container {
      padding-bottom: calc(0.9375rem + 2.8125 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.9858358016rem  +  3.7973722184vw , 5rem )) {
    .main-block__heading:not(:last-child) {
      margin-bottom: clamp( 3.125rem , 1.9858358016rem  +  3.7973722184vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.9858358016rem  +  3.7973722184vw , 5rem )) {
    .main-block__heading:not(:last-child) {
      margin-bottom: calc(3.125rem + 1.875 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (font-size: clamp( 2.125rem , 1.1377243614rem  +  3.2910559226vw , 3.75rem )) {
    .main-block__title {
      font-size: clamp( 2.125rem , 1.1377243614rem  +  3.2910559226vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.1377243614rem  +  3.2910559226vw , 3.75rem )) {
    .main-block__title {
      font-size: calc(2.125rem + 1.625 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (margin-bottom: clamp( 1.4375rem , 0.8679179008rem  +  1.8986861092vw , 2.375rem )) {
    .main-block__sub-title:not(:last-child) {
      margin-bottom: clamp( 1.4375rem , 0.8679179008rem  +  1.8986861092vw , 2.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.4375rem , 0.8679179008rem  +  1.8986861092vw , 2.375rem )) {
    .main-block__sub-title:not(:last-child) {
      margin-bottom: calc(1.4375rem + 0.9375 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (margin-bottom: clamp( 1.6875rem , 0.9280572011rem  +  2.5315814789vw , 2.9375rem )) {
    .main-block__list:not(:last-child) {
      margin-bottom: clamp( 1.6875rem , 0.9280572011rem  +  2.5315814789vw , 2.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.6875rem , 0.9280572011rem  +  2.5315814789vw , 2.9375rem )) {
    .main-block__list:not(:last-child) {
      margin-bottom: calc(1.6875rem + 1.25 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (right: clamp( 0.0000000625rem , -7.9741492882rem  +  26.5816054024vw , 13.125rem )) {
    .main-block__decor-2 {
      right: clamp( 0.0000000625rem , -7.9741492882rem  +  26.5816054024vw , 13.125rem );
    }
}

@supports not (right: clamp( 0.0000000625rem , -7.9741492882rem  +  26.5816054024vw , 13.125rem )) {
    .main-block__decor-2 {
      right: calc(0.0000000625rem + 13.1249999375 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (top: clamp( -13.125rem , -18.061378193rem  +  16.4552796132vw , -5rem )) {
    .main-block__decor-2 {
      top: clamp( -13.125rem , -18.061378193rem  +  16.4552796132vw , -5rem );
    }
}

@supports not (top: clamp( -13.125rem , -18.061378193rem  +  16.4552796132vw , -5rem )) {
    .main-block__decor-2 {
      top: calc(-13.125rem + 8.125 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (right: clamp( 12.1875rem , 2.8843257133rem  +  31.0118731171vw , 27.5rem )) {
    .main-block__decor-3 {
      right: clamp( 12.1875rem , 2.8843257133rem  +  31.0118731171vw , 27.5rem );
    }
}

@supports not (right: clamp( 12.1875rem , 2.8843257133rem  +  31.0118731171vw , 27.5rem )) {
    .main-block__decor-3 {
      right: calc(12.1875rem + 15.3125 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (top: clamp( 3rem , -0.3035761753rem  +  11.0123794334vw , 8.4375rem )) {
    .main-block__decor-3 {
      top: clamp( 3rem , -0.3035761753rem  +  11.0123794334vw , 8.4375rem );
    }
}

@supports not (top: clamp( 3rem , -0.3035761753rem  +  11.0123794334vw , 8.4375rem )) {
    .main-block__decor-3 {
      top: calc(3rem + 5.4375 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (width: clamp( 1.6875rem , 0.4723915217rem  +  4.0505303663vw , 3.6875rem )) {
    .main-block__decor-3 svg {
      width: clamp( 1.6875rem , 0.4723915217rem  +  4.0505303663vw , 3.6875rem );
    }
}

@supports not (width: clamp( 1.6875rem , 0.4723915217rem  +  4.0505303663vw , 3.6875rem )) {
    .main-block__decor-3 svg {
      width: calc(1.6875rem + 2 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (height: clamp( 1.5rem , 0.3608358016rem  +  3.7973722184vw , 3.375rem )) {
    .main-block__decor-3 svg {
      height: clamp( 1.5rem , 0.3608358016rem  +  3.7973722184vw , 3.375rem );
    }
}

@supports not (height: clamp( 1.5rem , 0.3608358016rem  +  3.7973722184vw , 3.375rem )) {
    .main-block__decor-3 svg {
      height: calc(1.5rem + 1.875 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (font-size: clamp( 2.125rem , 1.8971671603rem  +  0.7594744437vw , 2.5rem )) {
    .title {
      font-size: clamp( 2.125rem , 1.8971671603rem  +  0.7594744437vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.8971671603rem  +  0.7594744437vw , 2.5rem )) {
    .title {
      font-size: calc(2.125rem + 0.375 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (bottom: clamp( -2.75rem , -0.0372522215rem  +  -3.4176349966vw , -1.0625rem )) {
    .response__text::after {
      bottom: clamp( -2.75rem , -0.0372522215rem  +  -3.4176349966vw , -1.0625rem );
    }
}

@supports not (bottom: clamp( -2.75rem , -0.0372522215rem  +  -3.4176349966vw , -1.0625rem )) {
    .response__text::after {
      bottom: calc(-1.0625rem + -1.6875 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-top: clamp( 0.9375rem , -0.3915248981rem  +  4.4302675882vw , 3.125rem )) {
    .for-whom {
      padding-top: clamp( 0.9375rem , -0.3915248981rem  +  4.4302675882vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -0.3915248981rem  +  4.4302675882vw , 3.125rem )) {
    .for-whom {
      padding-top: calc(0.9375rem + 2.1875 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.6851393003rem  +  0.6328953697vw , 2.1875rem )) {
    .for-whom {
      padding-bottom: clamp( 1.875rem , 1.6851393003rem  +  0.6328953697vw , 2.1875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.6851393003rem  +  0.6328953697vw , 2.1875rem )) {
    .for-whom {
      padding-bottom: calc(1.875rem + 0.3125 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (margin-bottom: clamp( 1.3125rem , 0.5150850611rem  +  2.6581605529vw , 2.625rem )) {
    .for-whom__title:not(:last-child) {
      margin-bottom: clamp( 1.3125rem , 0.5150850611rem  +  2.6581605529vw , 2.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.3125rem , 0.5150850611rem  +  2.6581605529vw , 2.625rem )) {
    .for-whom__title:not(:last-child) {
      margin-bottom: calc(1.3125rem + 1.3125 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.6851393003rem  +  0.6328953697vw , 2.1875rem )) {
    .technical {
      padding-top: clamp( 1.875rem , 1.6851393003rem  +  0.6328953697vw , 2.1875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.6851393003rem  +  0.6328953697vw , 2.1875rem )) {
    .technical {
      padding-top: calc(1.875rem + 0.3125 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.7405572011rem  +  2.5315814789vw , 3.75rem )) {
    .technical {
      padding-bottom: clamp( 2.5rem , 1.7405572011rem  +  2.5315814789vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.7405572011rem  +  2.5315814789vw , 3.75rem )) {
    .technical {
      padding-bottom: calc(2.5rem + 1.25 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , 1.1155572011rem  +  2.5315814789vw , 3.125rem )) or (column-gap: clamp( 1.875rem , 1.1155572011rem  +  2.5315814789vw , 3.125rem ))) {
    .technical__container {
      -webkit-column-gap: clamp( 1.875rem , 1.1155572011rem  +  2.5315814789vw , 3.125rem );
         -moz-column-gap: clamp( 1.875rem , 1.1155572011rem  +  2.5315814789vw , 3.125rem );
              column-gap: clamp( 1.875rem , 1.1155572011rem  +  2.5315814789vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 1.1155572011rem  +  2.5315814789vw , 3.125rem )) or (column-gap: clamp( 1.875rem , 1.1155572011rem  +  2.5315814789vw , 3.125rem ))) {
    .technical__container {
      -webkit-column-gap: calc(1.875rem + 1.25 * (100vw - 29.99875rem) / 49.37625);
         -moz-column-gap: calc(1.875rem + 1.25 * (100vw - 29.99875rem) / 49.37625);
              column-gap: calc(1.875rem + 1.25 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-top: clamp( 2.1875rem , 1.2381965014rem  +  3.1644768487vw , 3.75rem )) {
    .emotional {
      padding-top: clamp( 2.1875rem , 1.2381965014rem  +  3.1644768487vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 1.2381965014rem  +  3.1644768487vw , 3.75rem )) {
    .emotional {
      padding-top: calc(2.1875rem + 1.5625 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (margin-bottom: clamp( 2.375rem , 2.1091950204rem  +  0.8860535176vw , 2.8125rem )) {
    .emotional__heading:not(:last-child) {
      margin-bottom: clamp( 2.375rem , 2.1091950204rem  +  0.8860535176vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 2.375rem , 2.1091950204rem  +  0.8860535176vw , 2.8125rem )) {
    .emotional__heading:not(:last-child) {
      margin-bottom: calc(2.375rem + 0.4375 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (left: clamp( -3.75rem , 31.0133604213rem  +  -43.7963595858vw , 17.875rem )) {
    .emotional__main-decor-1 {
      left: clamp( -3.75rem , 31.0133604213rem  +  -43.7963595858vw , 17.875rem );
    }
}

@supports not (left: clamp( -3.75rem , 31.0133604213rem  +  -43.7963595858vw , 17.875rem )) {
    .emotional__main-decor-1 {
      left: calc(17.875rem + -21.625 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (top: clamp( -3.125rem , -10.3397065897rem  +  24.05002405vw , 8.75rem )) {
    .emotional__main-decor-1 {
      top: clamp( -3.125rem , -10.3397065897rem  +  24.05002405vw , 8.75rem );
    }
}

@supports not (top: clamp( -3.125rem , -10.3397065897rem  +  24.05002405vw , 8.75rem )) {
    .emotional__main-decor-1 {
      top: calc(-3.125rem + 11.875 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (right: clamp( -24.6875rem , -14.1379253057rem  +  -13.2908027645vw , -18.125rem )) {
    .emotional__main-decor-2 {
      right: clamp( -24.6875rem , -14.1379253057rem  +  -13.2908027645vw , -18.125rem );
    }
}

@supports not (right: clamp( -24.6875rem , -14.1379253057rem  +  -13.2908027645vw , -18.125rem )) {
    .emotional__main-decor-2 {
      right: calc(-18.125rem + -6.5625 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (bottom: clamp( -25rem , -30.1262388927rem  +  17.0881749829vw , -16.5625rem )) {
    .emotional__main-decor-2 {
      bottom: clamp( -25rem , -30.1262388927rem  +  17.0881749829vw , -16.5625rem );
    }
}

@supports not (bottom: clamp( -25rem , -30.1262388927rem  +  17.0881749829vw , -16.5625rem )) {
    .emotional__main-decor-2 {
      bottom: calc(-25rem + 8.4375 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.4818343207rem  +  1.5189488874vw , 1.6875rem )) {
    .author {
      padding-bottom: clamp( 0.9375rem , 0.4818343207rem  +  1.5189488874vw , 1.6875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.4818343207rem  +  1.5189488874vw , 1.6875rem )) {
    .author {
      padding-bottom: calc(0.9375rem + 0.75 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-top: clamp( 2.8125rem , 0.724032303rem  +  6.9618490671vw , 6.25rem )) {
    .author__content {
      padding-top: clamp( 2.8125rem , 0.724032303rem  +  6.9618490671vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 2.8125rem , 0.724032303rem  +  6.9618490671vw , 6.25rem )) {
    .author__content {
      padding-top: calc(2.8125rem + 3.4375 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-right: clamp( 1.5rem , 0.133002962rem  +  4.5568466621vw , 3.75rem )) {
    .author__content {
      padding-right: clamp( 1.5rem , 0.133002962rem  +  4.5568466621vw , 3.75rem );
    }
}

@supports not (padding-right: clamp( 1.5rem , 0.133002962rem  +  4.5568466621vw , 3.75rem )) {
    .author__content {
      padding-right: calc(1.5rem + 2.25 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-top: clamp( 2.1875rem , 1.8077786005rem  +  1.2657907395vw , 2.8125rem )) {
    .qa {
      padding-top: clamp( 2.1875rem , 1.8077786005rem  +  1.2657907395vw , 2.8125rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 1.8077786005rem  +  1.2657907395vw , 2.8125rem )) {
    .qa {
      padding-top: calc(2.1875rem + 0.625 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.5506965014rem  +  3.1644768487vw , 4.0625rem )) {
    .qa {
      padding-bottom: clamp( 2.5rem , 1.5506965014rem  +  3.1644768487vw , 4.0625rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.5506965014rem  +  3.1644768487vw , 4.0625rem )) {
    .qa {
      padding-bottom: calc(2.5rem + 1.5625 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (margin-bottom: clamp( 2.1875rem , 1.6179179008rem  +  1.8986861092vw , 3.125rem )) {
    .qa__heading:not(:last-child) {
      margin-bottom: clamp( 2.1875rem , 1.6179179008rem  +  1.8986861092vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 2.1875rem , 1.6179179008rem  +  1.8986861092vw , 3.125rem )) {
    .qa__heading:not(:last-child) {
      margin-bottom: calc(2.1875rem + 0.9375 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.6804179008rem  +  1.8986861092vw , 2.1875rem )) {
    .qa__title {
      padding-right: clamp( 1.25rem , 0.6804179008rem  +  1.8986861092vw , 2.1875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.6804179008rem  +  1.8986861092vw , 2.1875rem )) {
    .qa__title {
      padding-right: calc(1.25rem + 0.9375 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.3679179008rem  +  1.8986861092vw , 1.875rem )) {
    .qa__title {
      padding-bottom: clamp( 0.9375rem , 0.3679179008rem  +  1.8986861092vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.3679179008rem  +  1.8986861092vw , 1.875rem )) {
    .qa__title {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.3679179008rem  +  1.8986861092vw , 1.875rem )) {
    .qa__title {
      padding-top: clamp( 0.9375rem , 0.3679179008rem  +  1.8986861092vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.3679179008rem  +  1.8986861092vw , 1.875rem )) {
    .qa__title {
      padding-top: calc(0.9375rem + 0.9375 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.8702786005rem  +  1.2657907395vw , 1.875rem )) {
    .qa__title {
      padding-left: clamp( 1.25rem , 0.8702786005rem  +  1.2657907395vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.8702786005rem  +  1.2657907395vw , 1.875rem )) {
    .qa__title {
      padding-left: calc(1.25rem + 0.625 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.6804179008rem  +  1.8986861092vw , 2.1875rem )) {
    .qa__body {
      padding-right: clamp( 1.25rem , 0.6804179008rem  +  1.8986861092vw , 2.1875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.6804179008rem  +  1.8986861092vw , 2.1875rem )) {
    .qa__body {
      padding-right: calc(1.25rem + 0.9375 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.3679179008rem  +  1.8986861092vw , 1.875rem )) {
    .qa__body {
      padding-bottom: clamp( 0.9375rem , 0.3679179008rem  +  1.8986861092vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.3679179008rem  +  1.8986861092vw , 1.875rem )) {
    .qa__body {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 29.99875rem) / 49.37625);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.8702786005rem  +  1.2657907395vw , 1.875rem )) {
    .qa__body {
      padding-left: clamp( 1.25rem , 0.8702786005rem  +  1.2657907395vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.8702786005rem  +  1.2657907395vw , 1.875rem )) {
    .qa__body {
      padding-left: calc(1.25rem + 0.625 * (100vw - 29.99875rem) / 49.37625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .main-block__image {
    height: 31.25rem;
  }

  .author__content {
    padding-bottom: 7.5rem;
  }

  .qa__decor {
    right: 18.75rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 29.99875em) and (max-width: 47.99875em) {
@supports (height: clamp( 18.75rem , -2.0824652778rem  +  69.4444444444vw , 31.25rem )) {
    .main-block__image {
      height: clamp( 18.75rem , -2.0824652778rem  +  69.4444444444vw , 31.25rem );
    }
}

@supports not (height: clamp( 18.75rem , -2.0824652778rem  +  69.4444444444vw , 31.25rem )) {
    .main-block__image {
      height: calc(18.75rem + 12.5 * (100vw - 29.99875rem) / 18);
    }
}

@supports (padding-bottom: clamp( 7.5rem , 26.1661805556rem  +  -38.8888888889vw , 14.5rem )) {
    .author__content {
      padding-bottom: clamp( 7.5rem , 26.1661805556rem  +  -38.8888888889vw , 14.5rem );
    }
}

@supports not (padding-bottom: clamp( 7.5rem , 26.1661805556rem  +  -38.8888888889vw , 14.5rem )) {
    .author__content {
      padding-bottom: calc(14.5rem + -7 * (100vw - 29.99875rem) / 18);
    }
}

@supports (right: clamp( 1.25rem , -27.9154513889rem  +  97.2222222222vw , 18.75rem )) {
    .qa__decor {
      right: clamp( 1.25rem , -27.9154513889rem  +  97.2222222222vw , 18.75rem );
    }
}

@supports not (right: clamp( 1.25rem , -27.9154513889rem  +  97.2222222222vw , 18.75rem )) {
    .qa__decor {
      right: calc(1.25rem + 17.5 * (100vw - 29.99875rem) / 18);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 29.99875em) and (max-width: 79.375em) {
@supports (right: clamp( 0.0000000625rem , -10.2524776849rem  +  34.1763498392vw , 16.875rem )) {
    .main-block__decor-4 {
      right: clamp( 0.0000000625rem , -10.2524776849rem  +  34.1763498392vw , 16.875rem );
    }
}

@supports not (right: clamp( 0.0000000625rem , -10.2524776849rem  +  34.1763498392vw , 16.875rem )) {
    .main-block__decor-4 {
      right: calc(0.0000000625rem + 16.8749999375 * (100vw - 29.99875rem) / 49.37625);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 29.99875em) {
  .main-block__decor-4 {
    right: 0.0000000625rem;
  }
}

@media (min-width: 29.99875em) and (max-width: 61.99875em) {
@supports (padding-left: clamp( 0.9375rem , -2.2850219727rem  +  10.7421875vw , 4.375rem )) {
    .list-main-block {
      padding-left: clamp( 0.9375rem , -2.2850219727rem  +  10.7421875vw , 4.375rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -2.2850219727rem  +  10.7421875vw , 4.375rem )) {
    .list-main-block {
      padding-left: calc(0.9375rem + 3.4375 * (100vw - 29.99875rem) / 32);
    }
}
}

@media (max-width: 59.6875em) and (min-width: 59.6875em) {
  .author__decor-image {
    left: -1.875rem;
  }
}

@media (max-width: 59.6875em) and (min-width: 29.99875em) and (max-width: 59.6875em) {
@supports (left: clamp( -9.375rem , -16.9533124921rem  +  25.2620942276vw , -1.875rem )) {
    .author__decor-image {
      left: clamp( -9.375rem , -16.9533124921rem  +  25.2620942276vw , -1.875rem );
    }
}

@supports not (left: clamp( -9.375rem , -16.9533124921rem  +  25.2620942276vw , -1.875rem )) {
    .author__decor-image {
      left: calc(-9.375rem + 7.5 * (100vw - 29.99875rem) / 29.68875);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 79.375em) {
  .author__decor-image {
    width: 28.5625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 29.99875em) and (max-width: 79.375em) {
@supports (width: clamp( 22.6875rem , 19.1181188451rem  +  11.8984329511vw , 28.5625rem )) {
    .author__decor-image {
      width: clamp( 22.6875rem , 19.1181188451rem  +  11.8984329511vw , 28.5625rem );
    }
}

@supports not (width: clamp( 22.6875rem , 19.1181188451rem  +  11.8984329511vw , 28.5625rem )) {
    .author__decor-image {
      width: calc(22.6875rem + 5.875 * (100vw - 29.99875rem) / 49.37625);
    }
}
}

@media (any-hover: hover) {
  .item-emotional__text a:hover {
    text-decoration: none;
  }
}